.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
html,
body {
    height: 100%;
}

.sidebar {
    background-color: #121212;
    text-align: center;
    color: white;
    padding: 15px;
}

.large-page {
    background-color: #171f24 !important;
    color: #ffffffcc;
    padding: 4em;

}

.footer {
    position: absolute; 
    bottom: 0; 
    width: 90%; 
    height: 50px; 
    display:inline
}